employee-onboarding-agent-fabric/mcp-servers/notification-mcp/src/main/mule/notification-mcp-server.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule
	xmlns:apikit="http://www.mulesoft.org/schema/mule/mule-apikit"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:db="http://www.mulesoft.org/schema/mule/db"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
	xmlns:email="http://www.mulesoft.org/schema/mule/email"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd 
	http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd 
	http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd 
	http://www.mulesoft.org/schema/mule/email http://www.mulesoft.org/schema/mule/email/current/mule-email.xsd 
	http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
	http://www.mulesoft.org/schema/mule/mule-apikit http://www.mulesoft.org/schema/mule/mule-apikit/current/mule-apikit.xsd">

	<!-- Health Check Endpoint -->
	<flow name="health-check">
		<http:listener config-ref="http-config" path="/health"
			doc:name="Health Check Listener">
		</http:listener>
		<set-payload
			value="#[{'status': 'UP', 'service': 'Notification MCP Server', 'timestamp': now() as String {format: 'yyyy-MM-dd HH:mm:ss'}, 'emailEnabled': '${notification.employee.onboarding.enabled}'}]"
			mimeType="application/json" />
		<logger level="INFO" message="Health check requested" />
	</flow>

	<!-- MCP Server Info Endpoint -->
	<flow name="mcp-server-info">
		<http:listener config-ref="http-config" path="/mcp/info"
			doc:name="MCP Info Listener">
		</http:listener>
		<set-payload
			value="#[{'name': 'Notification MCP Server', 'version': '1.0.0', 'description': 'MCP Server for Email Notifications (Employee Onboarding and Asset Allocation)', 'tools': [{'name': 'send-welcome-email', 'description': 'Send employee welcome email', 'endpoint': '/mcp/tools/send-welcome-email'}, {'name': 'send-asset-notification', 'description': 'Send asset allocation notification', 'endpoint': '/mcp/tools/send-asset-notification'}, {'name': 'send-onboarding-complete', 'description': 'Send onboarding complete notification', 'endpoint': '/mcp/tools/send-onboarding-complete'}, {'name': 'test-email-config', 'description': 'Test email configuration', 'endpoint': '/mcp/tools/test-email-config'}]}]"
			mimeType="application/json" />
		<logger level="INFO"
			message="Notification MCP Server info requested" />
	</flow>

	<!-- MCP Tool: Send Welcome Email -->
	<flow name="send-welcome-email">
		<http:listener config-ref="http-config"
			path="/mcp/tools/send-welcome-email"
			doc:name="Send Welcome Email Listener">
		</http:listener>

		<logger level="INFO"
			message="Sending welcome email to: #[payload.email]" />

		<try doc:name="Try Send Welcome Email">
			<!-- Store original payload for processing -->
			<set-variable variableName="originalPayload" value="#[payload]" />

			<!-- Mock Email Sending - Generate email content and simulate sending -->
			<ee:transform doc:name="Prepare Mock Email Response">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	status: "success",
	message: "Welcome email sent successfully (MOCK MODE)",
	recipient: vars.originalPayload.email,
	employeeName: vars.originalPayload.firstName ++ " " ++ vars.originalPayload.lastName,
	emailType: "welcome",
	mockContent: {
		subject: "Welcome to the Team - Your Journey Begins! 🎉",
		fromAddress: "hr-notifications@company.com",
		toAddress: vars.originalPayload.email,
		ccAddresses: ["hr@company.com"],
		contentType: "text/html",
		bodyPreview: "Welcome " ++ vars.originalPayload.firstName ++ "! Congratulations on joining " ++ (vars.originalPayload.companyName default "Our Company") ++ "!",
		employeeDetails: {
			employeeId: vars.originalPayload.employeeId,
			department: vars.originalPayload.department default "Not Assigned",
			position: vars.originalPayload.position default "Employee",
			startDate: vars.originalPayload.startDate default (now() as String {format: 'yyyy-MM-dd'}),
			manager: vars.originalPayload.manager default "To be assigned"
		}
	},
	deliveryStatus: "DELIVERED_MOCK",
	timestamp: now() as String {format: 'yyyy-MM-dd HH:mm:ss'},
	processingTime: "50ms"
}]]></ee:set-payload>
				</ee:message>
			</ee:transform>

			<logger level="INFO" message="Mock welcome email sent successfully to: #[vars.originalPayload.email]" />

			<error-handler>
				<on-error-propagate type="EMAIL:*">
					<set-payload
						value="#[{'error': 'Email Send Failed', 'message': error.description, 'recipient': payload.email, 'timestamp': now() as String {format: 'yyyy-MM-dd HH:mm:ss'}}]"
						mimeType="application/json" />
					<set-variable value="500" variableName="httpStatus" />
					<logger level="ERROR"
						message="Failed to send welcome email: #[error.description]" />
				</on-error-propagate>
				<on-error-propagate type="ANY">
					<set-payload
						value="#[{'error': 'Notification Error', 'message': error.description, 'timestamp': now() as String {format: 'yyyy-MM-dd HH:mm:ss'}}]"
						mimeType="application/json" />
					<set-variable value="500" variableName="httpStatus" />
					<logger level="ERROR"
						message="Welcome email processing error: #[error.description]" />
				</on-error-propagate>
			</error-handler>
		</try>
	</flow>

	<!-- MCP Tool: Send Asset Allocation Notification -->
	<flow name="send-asset-notification">
		<http:listener config-ref="http-config"
			path="/mcp/tools/send-asset-notification"
			doc:name="Send Asset Notification Listener">
		</http:listener>

		<logger level="INFO"
			message="Sending asset allocation notification to: #[payload.email]" />

		<try doc:name="Try Send Asset Notification">
			<!-- Store original payload for processing -->
			<set-variable variableName="originalPayload" value="#[payload]" />

			<!-- Mock Asset Notification Email Sending -->
			<ee:transform doc:name="Prepare Mock Asset Notification Response">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	status: "success",
	message: "Asset allocation notification sent successfully (MOCK MODE)",
	recipient: vars.originalPayload.email,
	employeeName: vars.originalPayload.firstName ++ " " ++ vars.originalPayload.lastName,
	emailType: "asset-notification",
	mockContent: {
		subject: "Asset Allocation Complete - Your Equipment is Ready! 📦",
		fromAddress: "it-notifications@company.com",
		toAddress: vars.originalPayload.email,
		ccAddresses: ["it@company.com"],
		contentType: "text/html",
		bodyPreview: "Hello " ++ vars.originalPayload.firstName ++ "! Your work equipment has been successfully allocated and is ready for pickup.",
		assetDetails: vars.originalPayload.assets default [],
		allocationInfo: {
			employeeId: vars.originalPayload.employeeId,
			allocationDate: vars.originalPayload.allocationDate default (now() as String {format: 'yyyy-MM-dd'}),
			approvedBy: vars.originalPayload.approvedBy default "System",
			allocationStatus: vars.originalPayload.allocationStatus default "ALLOCATED"
		}
	},
	assetCount: sizeOf(vars.originalPayload.assets default []),
	deliveryStatus: "DELIVERED_MOCK",
	timestamp: now() as String {format: 'yyyy-MM-dd HH:mm:ss'},
	processingTime: "75ms"
}]]></ee:set-payload>
				</ee:message>
			</ee:transform>

			<logger level="INFO" message="Mock asset notification sent successfully to: #[vars.originalPayload.email]" />

			<error-handler>
				<on-error-propagate type="EMAIL:*">
					<set-payload
						value="#[{'error': 'Email Send Failed', 'message': error.description, 'recipient': payload.email, 'timestamp': now() as String {format: 'yyyy-MM-dd HH:mm:ss'}}]"
						mimeType="application/json" />
					<set-variable value="500" variableName="httpStatus" />
					<logger level="ERROR"
						message="Failed to send asset notification: #[error.description]" />
				</on-error-propagate>
				<on-error-propagate type="ANY">
					<set-payload
						value="#[{'error': 'Notification Error', 'message': error.description, 'timestamp': now() as String {format: 'yyyy-MM-dd HH:mm:ss'}}]"
						mimeType="application/json" />
					<set-variable value="500" variableName="httpStatus" />
					<logger level="ERROR"
						message="Asset notification processing error: #[error.description]" />
				</on-error-propagate>
			</error-handler>
		</try>
	</flow>

	<!-- MCP Tool: Send Onboarding Complete Notification -->
	<flow name="send-onboarding-complete">
		<http:listener config-ref="http-config"
			path="/mcp/tools/send-onboarding-complete"
			doc:name="Send Onboarding Complete Listener">
		</http:listener>

		<logger level="INFO"
			message="Sending onboarding complete notification to: #[payload.email]" />

		<try doc:name="Try Send Onboarding Complete">
			<!-- Store original payload for processing -->
			<set-variable variableName="originalPayload" value="#[payload]" />

			<!-- Mock Onboarding Complete Email Sending -->
			<ee:transform doc:name="Prepare Mock Onboarding Complete Response">
				<ee:message>
					<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
	status: "success",
	message: "Onboarding complete notification sent successfully (MOCK MODE)",
	recipient: vars.originalPayload.email,
	employeeName: vars.originalPayload.firstName ++ " " ++ vars.originalPayload.lastName,
	emailType: "onboarding-complete",
	mockContent: {
		subject: "🎊 Onboarding Complete - Welcome to the Team!",
		fromAddress: "hr-notifications@company.com",
		toAddress: vars.originalPayload.email,
		ccAddresses: ["hr@company.com", vars.originalPayload.managerEmail default "manager@company.com"],
		contentType: "text/html",
		bodyPreview: "Congratulations " ++ vars.originalPayload.firstName ++ "! You have successfully completed all onboarding requirements and are now officially part of the " ++ (vars.originalPayload.companyName default "Our Company") ++ " family.",
		completionSummary: {
			employeeId: vars.originalPayload.employeeId,
			department: vars.originalPayload.department default "Not Assigned",
			position: vars.originalPayload.position default "Employee",
			startDate: vars.originalPayload.startDate default (now() as String {format: 'yyyy-MM-dd'}),
			completionDate: now() as String {format: 'yyyy-MM-dd'},
			assetCount: sizeOf(vars.originalPayload.assets default []),
			milestones: [
				"Employee profile created and verified",
				"Welcome email sent and acknowledged", 
				"Work assets allocated and distributed",
				"Asset pickup notification sent",
				"Onboarding completion confirmed"
			]
		},
		managerInfo: {
			managerName: vars.originalPayload.managerName default "Your Manager",
			managerEmail: vars.originalPayload.managerEmail default "manager@company.com"
		}
	},
	assetCount: sizeOf(vars.originalPayload.assets default []),
	deliveryStatus: "DELIVERED_MOCK",
	timestamp: now() as String {format: 'yyyy-MM-dd HH:mm:ss'},
	processingTime: "100ms"
}]]></ee:set-payload>
				</ee:message>
			</ee:transform>

			<logger level="INFO" message="Mock onboarding complete notification sent successfully to: #[vars.originalPayload.email]" />

			<error-handler>
				<on-error-propagate type="EMAIL:*">
					<set-payload
						value="#[{'error': 'Email Send Failed', 'message': error.description, 'recipient': payload.email, 'timestamp': now() as String {format: 'yyyy-MM-dd HH:mm:ss'}}]"
						mimeType="application/json" />
					<set-variable value="500" variableName="httpStatus" />
					<logger level="ERROR"
						message="Failed to send onboarding complete notification: #[error.description]" />
				</on-error-propagate>
				<on-error-propagate type="ANY">
					<set-payload
						value="#[{'error': 'Notification Error', 'message': error.description, 'timestamp': now() as String {format: 'yyyy-MM-dd HH:mm:ss'}}]"
						mimeType="application/json" />
					<set-variable value="500" variableName="httpStatus" />
					<logger level="ERROR"
						message="Onboarding complete processing error: #[error.description]" />
				</on-error-propagate>
			</error-handler>
		</try>
	</flow>

	<!-- MCP Tool: Test Email Configuration -->
	<flow name="test-email-config">
		<http:listener config-ref="http-config"
			path="/mcp/tools/test-email-config"
			doc:name="Test Email Config Listener">
		</http:listener>

		<logger level="INFO" message="Testing email configuration" />

		<try doc:name="Try Test Email">
			<!-- Send test email -->
			<email:send config-ref="gmail-smtp-config"
				doc:name="Send Test Email"
				subject="Test Email - Notification MCP Server"
				fromAddress="${email.from.address}">
				<email:to-addresses>
					<email:to-address
						value="#[payload.testEmail default '${email.from.address}']" />
				</email:to-addresses>
				<email:body contentType="text/html">
					<email:content><![CDATA[
						<h2>Email Configuration Test</h2>
						<p>This is a test email from the Notification MCP Server.</p>
						<p><strong>Timestamp:</strong> #[now()]</p>
						<p><strong>Server:</strong> ${mcp.serverName}</p>
                        <p><strong>Version:</strong> ${mcp.serverVersion}</p>
						<p>If you receive this email, your Gmail SMTP configuration is working correctly!</p>
					]]></email:content>
				</email:body>
			</email:send>

			<set-payload
				value="#[{'status': 'success', 'message': 'Test email sent successfully', 'recipient': payload.testEmail default '${email.from.address}', 'timestamp': now() as String {format: 'yyyy-MM-dd HH:mm:ss'}}]"
				mimeType="application/json" />
			<logger level="INFO" message="Test email sent successfully" />

			<error-handler>
				<on-error-propagate type="EMAIL:*">
					<set-payload
						value="#[{'error': 'Email Configuration Error', 'message': error.description, 'suggestion': 'Check Gmail SMTP settings, username, password, and app password configuration', 'timestamp': now() as String {format: 'yyyy-MM-dd HH:mm:ss'}}]"
						mimeType="application/json" />
					<set-variable value="500" variableName="httpStatus" />
					<logger level="ERROR"
						message="Email configuration test failed: #[error.description]" />
				</on-error-propagate>
				<on-error-propagate type="ANY">
					<set-payload
						value="#[{'error': 'Test Error', 'message': error.description, 'timestamp': now() as String {format: 'yyyy-MM-dd HH:mm:ss'}}]"
						mimeType="application/json" />
					<set-variable value="500" variableName="httpStatus" />
					<logger level="ERROR"
						message="Email test error: #[error.description]" />
				</on-error-propagate>
			</error-handler>
		</try>
	</flow>

</mule>
