employee-onboarding-agent-fabric/mcp-servers/employee-onboarding-mcp/src/main/mule/employee-onboarding-mcp-server.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xmlns:db="http://www.mulesoft.org/schema/mule/db"
      xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
      xmlns:http="http://www.mulesoft.org/schema/mule/http"
      xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
        http://www.mulesoft.org/schema/mule/db http://www.mulesoft.org/schema/mule/db/current/mule-db.xsd
        http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">

    <!-- ========================= -->
    <!-- MCP SERVER INFO ENDPOINT  -->
    <!-- ========================= -->

    <flow name="mcp-server-info">
        <http:listener config-ref="HTTP_Listener_config" path="/mcp/info" allowedMethods="GET"/>
        
        <ee:transform>
            <ee:message>
                <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    name: "Employee Onboarding MCP Server",
    version: "1.0.0",
    description: "Employee Management MCP Server for Employee Onboarding Process",
    tools: [
        {
            name: "create-employee",
            description: "Create a new employee profile",
            endpoint: "/mcp/tools/create-employee"
        },
        {
            name: "get-employee",
            description: "Get employee details by ID",
            endpoint: "/mcp/tools/get-employee"
        },
        {
            name: "list-employees",
            description: "List all employees",
            endpoint: "/mcp/tools/list-employees"
        },
        {
            name: "update-employee-status",
            description: "Update employee onboarding status",
            endpoint: "/mcp/tools/update-employee-status"
        }
    ]
}]]></ee:set-payload>
            </ee:message>
        </ee:transform>
        
        <logger level="INFO" message="Employee Onboarding MCP Server info requested"/>
    </flow>

    <!-- ========================= -->
    <!-- MCP TOOL: CREATE EMPLOYEE -->
    <!-- ========================= -->

    <flow name="mcp-create-employee-tool">
        <http:listener config-ref="HTTP_Listener_config" path="/mcp/tools/create-employee" allowedMethods="POST"/>
        
        <logger level="INFO" message="MCP Tool: Creating employee via MCP interface"/>
        
        <flow-ref name="create-employee-flow"/>
    </flow>

    <!-- ========================= -->
    <!-- MCP TOOL: GET EMPLOYEE    -->
    <!-- ========================= -->

    <flow name="mcp-get-employee-tool">
        <http:listener config-ref="HTTP_Listener_config" path="/mcp/tools/get-employee/{empId}" allowedMethods="GET"/>
        
        <logger level="INFO" message="MCP Tool: Getting employee #[attributes.uriParams.empId] via MCP interface"/>
        
        <flow-ref name="get-employee-flow"/>
    </flow>

    <!-- ========================= -->
    <!-- MCP TOOL: LIST EMPLOYEES  -->
    <!-- ========================= -->

    <flow name="mcp-list-employees-tool">
        <http:listener config-ref="HTTP_Listener_config" path="/mcp/tools/list-employees" allowedMethods="GET"/>
        
        <logger level="INFO" message="MCP Tool: Listing employees via MCP interface"/>
        
        <flow-ref name="list-employees-flow"/>
    </flow>

    <!-- ========================= -->
    <!-- MCP TOOL: UPDATE STATUS   -->
    <!-- ========================= -->

    <flow name="mcp-update-employee-status-tool">
        <http:listener config-ref="HTTP_Listener_config" path="/mcp/tools/update-employee-status/{empId}/{status}" allowedMethods="PUT"/>
        
        <logger level="INFO" message="MCP Tool: Updating employee status via MCP interface"/>
        
        <flow-ref name="update-employee-status-flow"/>
    </flow>

    <!-- ========================= -->
    <!-- CREATE EMPLOYEE (POST)    -->
    <!-- ========================= -->

    <flow name="create-employee-flow">
        <http:listener config-ref="HTTP_Listener_config"
                       path="/employees"
                       allowedMethods="POST"/>

        <try>

            <ee:transform>
                <ee:message>
                    <ee:set-payload><![CDATA[%dw 2.0
output application/db
---
{
    employee_id: payload.employeeId,
    first_name: payload.firstName,
    last_name: payload.lastName,
    email: payload.email,
    phone: payload.phone,
    department_id: payload.departmentId,
    position: payload.position,
    hire_date: payload.hireDate,
    status: "PENDING",
    salary: payload.salary,
    address: payload.address,
    emergency_contact_name: payload.emergencyContactName,
    emergency_contact_phone: payload.emergencyContactPhone
}]]></ee:set-payload>
                </ee:message>
            </ee:transform>

            <db:insert config-ref="Database_Config">
                <db:sql><![CDATA[
                    INSERT INTO employees
                    (employee_id, first_name, last_name, email, phone,
                     department_id, position, hire_date, status, salary,
                     address, emergency_contact_name, emergency_contact_phone)
                    VALUES
                    (:employee_id, :first_name, :last_name, :email, :phone,
                     :department_id, :position, :hire_date, :status, :salary,
                     :address, :emergency_contact_name, :emergency_contact_phone)
                ]]></db:sql>
            </db:insert>

            <ee:transform>
                <ee:message>
                    <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    message: "Employee created successfully",
    employeeId: payload.employee_id
}]]></ee:set-payload>
                </ee:message>
            </ee:transform>

        <error-handler>

            <!-- Duplicate key -->
<on-error-continue type="DB:QUERY_EXECUTION"
    when="#[error.description contains 'Duplicate' or error.description contains 'duplicate']">
                    <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    error: "Employee ID or email already exists"
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </on-error-continue>

            <!-- DB Down → Mock -->
            <on-error-continue type="DB:*">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    message: "Employee created (MOCK MODE)",
    employeeId: uuid(),
    mockMode: true
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </on-error-continue>

        </error-handler>
        </try>
    </flow>


    <!-- ========================= -->
    <!-- GET EMPLOYEE (GET)        -->
    <!-- ========================= -->

    <flow name="get-employee-flow">
        <http:listener config-ref="HTTP_Listener_config"
                       path="/employees/{empId}" 
                       allowedMethods="GET"/>

        <set-variable variableName="empId"
                      value="#[attributes.uriParams.empId]"/>

        <try>

            <db:select config-ref="Database_Config">
                <db:sql>
                    SELECT * FROM employees
                    WHERE employee_id = :empId
                </db:sql>
                <db:input-parameters>
                    #[{empId: vars.empId}]
                </db:input-parameters>
            </db:select>

            <ee:transform>
                <ee:message>
                    <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
if (payload.size() > 0)
    payload[0]
else
    { message: "Employee not found" }
]]></ee:set-payload>
                </ee:message>
            </ee:transform>

        <error-handler>

            <!-- DB Down → Mock -->
            <on-error-continue type="DB:*">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    employee_id: vars.empId,
    first_name: "Mock",
    last_name: "User",
    email: "mock.user@company.com",
    status: "ACTIVE",
    mockMode: true
}]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </on-error-continue>

        </error-handler>
        </try>
    </flow>


    <!-- ========================= -->
    <!-- LIST EMPLOYEES (GET)      -->
    <!-- ========================= -->

    <flow name="list-employees-flow">
        <http:listener config-ref="HTTP_Listener_config"
                       path="/employees"
                       allowedMethods="GET"/>

        <try>

            <db:select config-ref="Database_Config">
                <db:sql>
                    SELECT * FROM employees
                    ORDER BY created_at DESC
                </db:sql>
            </db:select>

            <ee:transform>
                <ee:message>
                    <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload
]]></ee:set-payload>
                </ee:message>
            </ee:transform>

        <error-handler>

            <!-- DB Down → Mock -->
            <on-error-continue type="DB:*">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
[
 {
   employee_id: "EMP001",
   first_name: "John",
   last_name: "Smith",
   email: "john.smith@company.com",
   status: "ACTIVE",
   mockMode: true
 },
 {
   employee_id: "EMP002",
   first_name: "Maria",
   last_name: "Garcia",
   email: "maria.garcia@company.com",
   status: "PENDING",
   mockMode: true
 }
]
]]></ee:set-payload>
                </ee:message>
            </ee:transform>
            </on-error-continue>

        </error-handler>
        </try>
    </flow>


    <!-- ========================= -->
    <!-- UPDATE STATUS (PUT)       -->
    <!-- ========================= -->

    <flow name="update-employee-status-flow">
        <http:listener config-ref="HTTP_Listener_config"
                       path="/employees/{empId}/status/{status}"
                       allowedMethods="PUT"/>

        <set-variable variableName="empId"
                      value="#[attributes.uriParams.empId]"/>

        <set-variable variableName="status"
                      value="#[attributes.uriParams.status]"/>

        <try>

            <db:update config-ref="Database_Config">
                <db:sql>
                    UPDATE employees
                    SET status = :status,
                        updated_at = CURRENT_TIMESTAMP
                    WHERE employee_id = :empId
                </db:sql>
                <db:input-parameters>
                    #[{empId: vars.empId, status: vars.status}]
                </db:input-parameters>
            </db:update>

            <ee:transform>
                <ee:message>
                    <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    message: "Status updated to " ++ vars.status,
    employeeId: vars.empId
}
]]></ee:set-payload>
                </ee:message>
            </ee:transform>

        <error-handler>

            <!-- DB Down → Mock -->
            <on-error-continue type="DB:*">
                <ee:transform>
                    <ee:message>
                        <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
{
    message: "Status updated to " ++ vars.status ++ " (MOCK)",
    employeeId: vars.empId,
    mockMode: true
}
]]></ee:set-payload>
                    </ee:message>
                </ee:transform>
            </on-error-continue>

        </error-handler>
        </try>
    </flow>

</mule>
